/* - - - body grid - - - */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 16fr 1fr;
}
header {
    grid-column: 1 / 2;
    z-index: 2;
}
main {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 3fr;
}
    /* - - - main grid - - - */
    #viewport {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    #explorer {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

footer {
    grid-column: 1 / 2;
    z-index: 2;
}