* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 0;
}
html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'plex-serif';
}
header {
    display: flex;
    align-items: center;
    font-size: 7.2rem;
    background: var(--color-red);
    color: var(--color-lt);
    text-shadow: 0rem 1rem 1rem var(--color-red-dk);
    border-bottom: 4px solid var(--color-red-dk);
    box-shadow: var(--shadow);
}
main {
    background: var(--color-lt);
}
#viewport {
    background: var(--color-crm-lt);
    overflow: hidden;
    color: var(--color-dk);
    border-radius: 2rem;
    box-shadow: var(--shadow);
    padding: 4rem;
    font-size: 1.6rem;
    font-family: 'plex-mono';
}
#explorer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color-crm);
    border: 4px solid var(--color-crm-lt);
    border-right: 4px solid var(--color-crm-dk);
    border-bottom: none;
    border-left: none;
    border-radius: 2rem 2rem 0rem 0rem;
    box-shadow: var(--shadow);
}
.search {
    text-align: center;
    background: var(--color-crm-dk);
    padding: 2rem;
    border-radius: 1rem;
}

.search input[type="text"] {
    width: 80%;
    padding: 1rem;
    margin: 1rem 0;   
    font-size: 1.6rem;
    font-family: 'plex-mono';
    border: 1px solid var(--color-md);
    border-radius: 1rem;
}

.btn {
    text-align: center;
    width: 6.4rem;
    height: auto;
    overflow: hidden;
}
.btn a {
    text-decoration: none;
    color: var(--color-crm-dk);
    font-size: 2.4rem;
    font-family: 'plex-sans';
    font-weight: bold;
    transition: color 250ms ease;
}
.btn a:hover {
    color: var(--color-gre-dk);
}
.btn a i {
    font-size: 6.4rem;
}
footer {
    background: var(--color-red);
    border-top: 4px solid var(--color-red-lt);
    box-shadow: var(--shadow);
}